<!DOCTYPE html>
<html lang="en">
#include("./partials/_head.html")
<body>
<div class="container-scroller">
    #include("./partials/_navbar.html")
    <div id="app" class="container-fluid page-body-wrapper" v-cloak>
        <div class="row row-offcanvas row-offcanvas-right">
            #include("./partials/_sidebar.html")
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">服务详情</h2>
                                <div>
                                    <ul class="list-arrow">
                                        <li>
                                            服务APPID：{{ server.appId }}
                                        </li>
                                        <li>
                                            服务名称：{{ server.name }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">节点详情</h2>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>服务节点</th>
                                            <th>进程ID</th>
                                            <th>服务状态</th>
                                            <th>最后上线时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in server.nodes">
                                            <td>{{ item.host }}:{{ item.port }}</td>
                                            <td>{{ item.pid }}</td>
                                            <td>{{ item.status | toStatus }}</td>
                                            <td>{{ item.onlineTime }}</td>
                                            <td>
                                                <button type="button" class="btn btn-inverse-danger btn-fw" @click="deleteNode(item.id, item.host, item.port)">删除</button>
                                                <button v-if="item.status == 'ONLINE'" type="button" class="btn btn-inverse-dark btn-fw" @click="updateStatus(item.id, item.host, item.port, 'offline')">下线</button>
                                                <button v-if="item.status == 'OFFLINE'" type="button" class="btn btn-inverse-success btn-fw" @click="updateStatus(item.id, item.host, item.port, 'online')">上线</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">服务接口列表</h2>
                                <div>
                                    <ul class="list-arrow">
                                        <li v-for="item in server.services">
                                            <kbd>{{ item }}</kbd>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">消费者列表</h2>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>消费者名称</th>
                                            <th>主机</th>
                                            <th>进程ID</th>
                                            <th>最后上线时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in server.consumers">
                                            <td>{{ item.appId }}</td>
                                            <td>{{ item.host }}</td>
                                            <td>{{ item.pid }}</td>
                                            <td>{{ item.onlineTime }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            #include("./partials/_footer.html")
        </div>
    </div>
</div>
#include("./partials/_footer_js.html")
<script src="/static/js/admin/server_detail.js?ver=${version}"></script>
</body>
</html>
