<!DOCTYPE html>
<html lang="en">
#include("./partials/_head.html")
<link href="/static/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
<style>
    .node circle {
        cursor: pointer;
        fill: #fff;
        stroke: #2196f3;
        stroke-width: 2px;
    }

    .node text {
        font-size: 14px;
    }

    .link {
        fill: none;
        stroke: #4caf50;
        stroke-width: 2px;
    }
</style>
<body>
<div class="container-scroller">
    #include("./partials/_navbar.html")
    <div id="app" class="container-fluid page-body-wrapper" v-cloak>
        <div class="row row-offcanvas row-offcanvas-right">
            #include("./partials/_sidebar.html")
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">服务依赖关系图</h2>
                                <div id="serviceNode"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ROW ENDS -->
                <div class="row">
                    <div class="col-lg-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">服务列表</h2>
                                <div class="table-responsive">
                                    <table class="table table-striped ">
                                        <thead>
                                        <tr>
                                            <th>服务名</th>
                                            <th>所在节点</th>
                                            <th>进程ID</th>
                                            <th>服务状态</th>
                                            <th>负责人</th>
                                            <th>最后上线时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in servers">
                                            <td>
                                                <a :href="'/admin/server/' + item.id">
                                                    {{ item.name }}
                                                </a>
                                            </td>
                                            <td>{{ item.address }}</td>
                                            <td>{{ item.pid }}</td>
                                            <td>{{ item.status | toStatus }}</td>
                                            <td>{{ item.owner }}</td>
                                            <td>{{ item.onlineTime }}</td>
                                            <td>
                                                <button type="button" class="btn btn-inverse-info btn-fw" @click="rename(item.id)">重命名</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #include("./partials/_footer.html")
        </div>
    </div>
</div>
#include("./partials/_footer_js.html")
<script src="/static/plugins/d3/d3.v3.min.js"></script>
<script src="/static/plugins/axios/axios.min.js"></script>
<script src="/static/js/admin/services.js"></script>

</body>
</html>
