<!-- plugins:js -->
<script src="/static/plugins/jquery/dist/jquery.min.js"></script>
<script src="/static/plugins/popper.js/dist/umd/popper.min.js"></script>
<script src="/static/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/plugins/vue/vue.min.js"></script>
<script src="/static/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/static/plugins/flot/jquery.flot.js"></script>
<script src="/static/plugins/flot/jquery.flot.resize.js"></script>
<script src="/static/plugins/flot.curvedlines/curvedLines.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/base.js"></script>