<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/plugins/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/plugins/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/static/plugins/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/static/plugins/chartist/dist/chartist.min.css"/>
    <link rel="stylesheet" href="/static/plugins/jvectormap/jquery-jvectormap.css"/>
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>