<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper">
        <a class="navbar-brand brand-logo" href="index.html"><img src="/static/images/logo.svg" alt="logo"></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/static/images/logo_mini.svg"
                                                                       alt="logo"></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <p class="page-name d-none d-lg-block">Hi, Dave Mattew</p>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item d-none d-sm-block profile-img">
                <a class="nav-link profile-image" href="#">
                    <img src="/static/images/faces/face4.jpg" alt="profile-img">
                    <span class="online bg-success"></span>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center ml-auto" type="button"
                data-toggle="offcanvas">
            <span class="icon-menu icons"></span>
        </button>
    </div>
</nav>