<div class="d-flex align-items-center justify-content-between flex-wrap">
    <p class="mb-0"></p>
    <nav>
        <ul class="pagination rounded-separated pagination-info mt-3">
            <li class="page-item"><a class="page-link" href="#"><i
                    class="mdi mdi-chevron-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#"><i
                    class="mdi mdi-chevron-right"></i></a></li>
        </ul>
    </nav>
</div>