<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <!--<li class="nav-item nav-category">-->
        <!--<span class="nav-link">GENERAL</span>-->
        <!--</li>-->
        <li class="nav-item">
            <a class="nav-link" href="/admin/index.html">
                <span class="menu-title">仪表盘</span>
                <i class="icon-speedometer menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/services.html">
                <span class="menu-title">服务管理</span>
                <i class="icon-wrench menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/notices.html">
                <span class="menu-title">操作记录</span>
                <i class="icon-wrench menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/notices.html">
                <span class="menu-title">推送日志</span>
                <i class="icon-wrench menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>