<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mrpc="http://junicorn.github.io/schema/mrpc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://junicorn.github.io/schema/mrpc http://junicorn.github.io/schema/mrpc.xsd">

    <context:property-placeholder location="classpath:rpc.properties"/>

    <!--<bean id="serviceDiscovery" class="junicorn.mrpc.discover.zookeeper.ZookeeperServiceDiscovery">
        <constructor-arg name="zkAddr" value="${zookeeper.address}"/>
    </bean>-->

    <bean id="rpcClient" class="junicorn.mrpc.client.RpcClient">
        <constructor-arg name="serialize" value="protostuff"/>
        <constructor-arg name="serverAddr" value="127.0.0.1:5066"/>
        <!--<constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>-->
    </bean>

    <mrpc:referer id="userService" interface="junicorn.mrpc.demo.api.UserService" />
    <mrpc:referer id="deptService" interface="junicorn.mrpc.demo.api.DeptService" />
    <mrpc:referer id="addService" interface="junicorn.mrpc.demo.api.AddService" />
    <mrpc:referer id="moodService" interface="junicorn.mrpc.demo.api.MoodService" />
    <mrpc:referer id="benchmarkService" interface="junicorn.mrpc.demo.api.BenchmarkService" />

</beans>