<!-- 后台分页导航 -->
#macro pageAdminNav(pageInfo)
<div class="clearfix"></div>
<ul class="pagination m-b-5 pull-right">
    #if(pageInfo.hasPreviousPage)
    <li>
        <a href="?page=${pageInfo.prevPage}" aria-label="Previous">
            <i class="fa fa-angle-left"></i>&nbsp;上一页
        </a>
    </li>
    #end

    #for(nav : pageInfo.navigatepageNums)
    <li #if(nav== pageInfo.pageNum) class="active" #end><a href="?page=${nav}">${nav}</a></li>
    #end

    #if(pageInfo.hasNextPage)
    <li>
        <a href="?page=${pageInfo.nextPage}" aria-label="Next">
            下一页&nbsp;<i class="fa fa-angle-right"></i>
        </a>
    </li>
    #end
    <li><span>共${pageInfo.pages}页</span></li>
</ul>
#end