<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceRegistry" class="junicorn.mrpc.registry.zookeeper.ZookeeperServiceRegistry">
        <constructor-arg name="zkAddr" value="${zookeeper.address}"/>
    </bean>

    <bean id="rpcServer" class="junicorn.mrpc.server.RpcServer">
        <constructor-arg name="serverAddress" value="${rpc.address2}"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
        <property name="serialize" value="protostuff"/>
    </bean>
    
    <context:component-scan base-package="junicorn.mrpc.demo.server.impl"/>

</beans>