layout: index
description: 轻量级、分布式服务治理框架
subtitle: 轻量级、分布式服务治理框架
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title 完美集成Spring
      p.intro-feature-desc 天生支持Spring/SpringBoot，让您更快集成到项目研发中。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title 调用透明
      p.intro-feature-desc 像调用本地方法一样使用rpc服务，只关心业务逻辑。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-book
      h3.intro-feature-title 支持分布式
      p.intro-feature-desc mrpc基于zookeeper，consul的分布式调度中心实现分布式，避免单点故障；实现了FailFast、FailOver高可用策略。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 多种负载均衡策略
      p.intro-feature-desc 内置轮询、随机、最小连接等软负载均衡策略。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title 插件化扩展
      p.intro-feature-desc 提供拦截器机制，实现更自定义的扩展操作。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title 更多优点
      p.intro-feature-desc Admin后台监控，服务分组，自动恢复，客户端定时ping，服务端参数校验，服务调用链查看，多协议支持等。
